{% extends './layouts/layout.njk' %}

{% block pageTitle %}Funding already claimed - {{ serviceName }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-m">Funding already claimed</h1>
    <p>Funding for {{ reference }} has already been claimed.</p>
    <p>Please call the Rural Payments Agency on 03000 200 301 if you think this is an error.</p>
  </div>
</div>
{% endblock %}
