{% extends './layouts/layout.njk' %}

{% block pageTitle %}Funding claim complete{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: "Funding claim complete",
      html: "Your claim reference number<br><strong>" + reference + "</strong>"
    }) }}

    <h2 class="govuk-heading-m">What happens next</h2>
    <p>We've sent you a confirmation email.</p>
    <p>We'll email you to tell you when you have been paid. This will be within 28 days.</p>
    <p>Pay the vet if you have not already done this.</p>
  </div>
</div>
{% endblock %}
