{% extends './layouts/layout.njk' %}

{% block pageTitle %}Funding claim not found{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-m">Funding claim not found</h1>
    <p>No application could be found with the reference {{ reference }}.</p>
    <p>Please call the Rural Payments Agency on 03000 200 301 if you believe this is an error.</p>
  </div>
</div>
{% endblock %}
