{% extends './layouts/layout.njk' %}

{% block pageTitle %}Submit your claim for funding - {{ serviceName }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Submit your claim for funding</h1>

    <p>By submitting your claim you confirm that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the information given is correct</li>
      <li>the review took place </li>
    </ul>
    <p>Keep paperwork, such as invoices, from the review as the RPA may ask for these.</p>

    <form method="POST" action="/farmer-claim/submit-claim">
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      {{ govukButton({
      classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        text: "Submit claim"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
