{% extends './layouts/layout.njk' %}

{% block pageTitle %}Sign in - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
        text: "Back",
        href: "/",
        attributes: {
          id: "back"
        }
      })
    }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST">
        <input type="hidden" name="crumb" value="{{crumb}}"/>
        <h1 class="govuk-heading-l">Enter your email address</h1>

        {{ govukInput({
          label: {
            text: "Email address"
          },
          hint: {
            text: hintText
          },
          classes: "govuk-input-!-width-full",
          id: "email",
          name: "email",
          value: email,
          errorMessage: errorMessage
        }) }}

        {{ govukButton({
          text: "Continue",
          attributes: {
            id: "submit"
          }
        }) }}

        {% if showHelp %}
        {{ govukDetails({
          summaryText: "Problems signing in?",
          html: "Please call the Rural Payments Agency on 03000 200 301"
        }) }}
      {% endif %}

      </form>
    </div>
  </div>
{% endblock %}
