{% extends './layouts/layout.njk' %}

{% block pageTitle %}Review details incorrect - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/vet/check-review",
    attributes: {
      id: "back"
    }
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Review details incorrect</h1>

    <p>If you need to correct any details about the review, call the Rural Payments Agency on 03000 200 301.</p>
    <p>Monday to Friday 8.30am to 5pm, except bank holidays. </p>
    <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
    <p>If you’ve entered the wrong reference number, <a href="reference">enter a new reference number</a>.</p>
  </div>
</div>
{% endblock %}
