{% extends './layouts/layout.njk' %}

{% block pageTitle %}What is the vet's email address? - {{ serviceName}}{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/vet/practice",
    attributes: {
      id: "back"
    }
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST">
        <input type="hidden" name="crumb" value="{{crumb}}"/>
        {{ govukInput({
          label: {
            text: "What is the vet's email address?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            html:"We’ll send a link to this email for the vet to record information about the review<br><br>Enter an email address the vet can access easily as the link expires after 15 minutes"
          },
          classes: "govuk-input-!-width-full",
          id: "email",
          name: "email",
          value: email,
          errorMessage: errorMessage
        }) }}

        {{ govukButton({
          text: "Continue",
          attributes: {
            id: "continue"
          }
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
