{% extends './layouts/layout.njk' %}

{% block pageTitle %}What is the vet practice email address{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/vet/practice",
    attributes: {
      id: "back"
    }
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST">
        <input type="hidden" name="crumb" value="{{crumb}}"/>

        <h1 class="govuk-heading-l">What is the vet practice email address?</h1>
        {{ govukInput({
          label: {
            text: "Vet practice email address?"
          },
          hint: {
            text:"We'll send a link to this email for the vet to record information about the review."
          },
          classes: "govuk-input-!-width-full",
          id: "email",
          name: "email",
          value: email,
          errorMessage: errorMessage
        }) }}

        {{ govukButton({
          text: "Continue",
          attributes: {
            id: "continue"
          }
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
