{% extends './layouts/layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Record information about a livestock health and welfare review</h1>

    <p>Use this service to record information about a review.</p>
    <p>Recording information takes around 5 minutes.</p>
    <p>After you submit the information, the farmer can claim funding.</p>

    {{ govukButton({
      classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
      href: "/vet/reference",
      isStartButton: true,
      text: "Start now"
    }) }}

    <h2 class="govuk-heading-m">Before you start</h2>
    <p>You'll need to know</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>booking reference number Defra gave the farmer when they applied</li>
      <li>vet's Royal College of Veterinary Surgeons (RCVS) registration number</li>
      <li>name of the vet who did the review</li>
      <li>name of the vet practice</li>
      <li>email address of the vet practice</li>
      <li>date of the review</li>
      <li>postcode where review took place</li>
      <li>disease and endemic conditions test results</li>
      <li>number of animals reviewed</li>
    </ul>
  </div>
</div>
{% endblock %}
