{% extends './layouts/layout.njk' %}

{% block pageTitle %}What was the percentage reduction in eggs per gram (EPG) from pre- to post- worming treatment? - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/vet/sheep-eligibility",
    attributes: {
      id: "back"
    }
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST">
        <input type="hidden" name="crumb" value="{{crumb}}"/>
        {{ govukInput({
          label: {
            text: "What was the percentage reduction in eggs per gram (EPG) from pre- to post- worming treatment?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Percentage"
          },
          classes: "govuk-input--width-3",
          id: "speciesTest",
          name: "speciesTest",
          value: speciesTest,
          errorMessage: errorMessage
        }) }}

        {{ govukButton({
          text: "Continue",
          attributes: {
            id: "continue"
          }
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
