{% extends './layouts/layout.njk' %}

{% block pageTitle %}Check your answers{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Check your answers</h1>

    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
      rows: listData.rows
    }) }}

    <h2 class="govuk-heading-m">Now send your application</h2>
    <p>By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

    {{ govukButton({
      text: "Confirm and send",
      href: "declaration?sbi=" + organisation.sbi
    }) }}
  </div>
</div>
{% endblock %}
