{% extends './layouts/layout.njk' %}

{% block pageTitle %}Application successful{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: "Application successful",
      html: "Your booking reference number<br><strong>" + reference + "</strong>"
    }) }}

    <p class="govuk-body">We have sent you a confirmation email.</p>

    <h2 class="govuk-heading-m">What you should do next</h2>

    <p class="govuk-body">Contact the vet to book the review.</p>
    <p class="govuk-body">You'll need to give the vet your booking reference number.</p>

    <p class="govuk-body">The vet will contact you to organise testing of your livestock. They will test for:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>bovine viral diarrhoea (BVD) in dairy and beef cattle</li>
      <li>porcine reproductive and respiratory syndrome virus (PRRS) in pigs</li>
      <li>how effective worming treatments are in sheep</li>
    </ul>

    <p class="govuk-body">If you’re able to do this testing, discuss this with the vet.</p>
    <p class="govuk-body">The vet will discuss the test results and treatment options with you when they visit.</p>
    <p class="govuk-body">You'll need to apply for a new booking reference if you do not arrange a review in the next 12 months.</p>

    <h3 class="govuk-heading-s">Confirm the record and get paid</h3>

    <p>After the vet has recorded information about the review, you’ll receive an email.
      We’ll ask you to sign in to confirm the record is correct and submit your claim.</p>
    <p>You’ll receive your payment within 28 days into your Rural Payments account.</p>

    <h2 class="govuk-heading-m">Get help with your application</h2>

    <p>If you have a question about your application contact the Rural Payments Agency.
      Have your booking reference with you when you call or include it in your email.</p>
    <ul class="govuk-list">
      <li>Telephone: 03000 200 301</li>
      <li>Monday to Friday, 8:30am to 5pm (except public holidays)</li>
      <li><a class="govuk-link" href="mailto:ruralpayments@defra.gov.uk">ruralpayments@defra.gov.uk</a></li>
    </ul>
    <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

    <p class="govuk-body govuk-!-margin-top-9">
      <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
    </p>
  </div>
</div>
{% endblock %}
