{% extends './layouts/layout.njk' %}

{% block pageTitle %}Declaration{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Declaration</h1>

    <p>By submitting the application, you confirm that the information you have given is correct and complete.</p>
    <p>If you give the wrong information, you may be refused funding.</p>

    <form method="POST" action="confirmation">
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      <input type="hidden" name="sbi" value="{{organisation.sbi}}"/>
      {{ govukButton({
        text: "Submit my application"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
