{% extends './layouts/layout.njk' %}

{% block pageTitle %}Update your details{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "./org-review",
	  attributes: {id: "back"}
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Update your details</h1>

    <p>Sign in to <a href="https://www.gov.uk/claim-rural-payments">update your details with the Rural Payments Agency</a>.</p>
  </div>
</div>
{% endblock %}
