{% extends './layouts/layout.njk' %}

{% block pageTitle %}Eligible organisations you have access to{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Select the organisation to make an application for</h1>

      <p>Only eligible organisations that you have access to are shown.</p>
  </div>
</div>

{% if orgsToShow %}

  <div class="user-search-box govuk-!-width-two-thirds">
    <form class="search-form" action="/farmer-apply/eligible-organisations" method="POST">
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      {{ searchBox({}) }}
    </form>
  </div>

  {{ govukTable({
    caption: "Eligible organisations",
    captionClasses: "govuk-table__caption--m",
    firstCellIsHeader: true,
    head: tableData.head,
    rows: tableData.rows
  }) }}

{% else %}
  <p>No organisations found.</p>
{% endif %}

{% endblock %}
