{% extends './layouts/layout.njk' %}

{% block pageTitle %}Not Eligible{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
	  attributes: {id: "back"}
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You are not eligible to apply</h1>

    <p>The service is open to existing Basic Payment Scheme (BPS) customers only.
    It will be open to non BPS customers in the future.</p>

    <p><a href="#">Read guidance on all farming schemes.</a></p>
  </div>
</div>
{% endblock %}
