{% extends './layouts/layout.njk' %}

{% block pageTitle %}Privacy policy - {{ serviceName }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Privacy policy statement for {{ serviceName }} service</h1>
    </div>
  </div>
{% endblock %}
